<footer class="page-footer">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Punjab University</h5>
                    <a class="grey-text text-lighten-4 left" href="http://www.pu.edu.pk/" target="_blank"><p class="grey-text text-lighten-4 color_change">Any kind of help you can visit us</p> </a>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Information</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3 color_change" href="http://www.pu.edu.pk/" target= "_blank">Help</a></li>
                      <li><a class="grey-text text-lighten-3 color_change" href="http://www.pu.edu.pk/" target= "_blank">About</a></li>
                      <li><a class="grey-text text-lighten-3 color_change" href="http://www.pu.edu.pk/" target= "_blank">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                <a href="http://evolverstech.com/" target="_blank" style="color: white" class="color_change">© 2020 Evolvers Tech</a>
                <a class="grey-text text-lighten-4 right color_change" href="http://evolverstech.com/" target="_blank">we undertsand we deliver</a>
                </div>
              </div>
            </footer>